* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.group:before,.group:after {
    content: "";
    display: table
}

.group:after {
    clear: both
}

@font-face {
    font-family: 'harryatkins-me';
    src: url("fonts/harryatkins-me.eot");
    src: url("fonts/harryatkins-me.eot?#iefix") format("embedded-opentype"),url("fonts/harryatkins-me.woff") format("woff"),url("fonts/harryatkins-me.ttf") format("truetype"),url("fonts/harryatkins-me.svg#harryatkins-me") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url("fonts/BebasNeue-webfont.eot");
    src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),url("fonts/BebasNeue-webfont.woff") format("woff"),url("fonts/BebasNeue-webfont.ttf") format("truetype"),url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
    font-weight: normal;
    font-style: normal
}

body#home {
    background: #02c9c9;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding: 50px 0
}

body#home ::selection {
    background: #016464;
    color: white
}

body#home ::-moz-selection {
    background: #016464;
    color: white
}

body#home a {
    color: #fff;
    text-decoration: none
}

body#home a:hover,body#home a.current {
    color: #0d4040;
    border-color: #0d4040
}

a:active {
    outline: none
}

a.cv-link {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background: white;
    color: #2acece !important;
}

a.cv-link:hover {
    color: white!important;
    background: #000000;
}

body#work {
    background: #53D7D7;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding: 50px 0
}

body#work ::selection {
    background: white;
    color: #2a2a2a
}

body#work ::-moz-selection {
    background: white;
    color: #2a2a2a
}

body#work a {
    color: #fff;
    text-decoration: none
}

body#work a:hover,body#work a.current {
    color: #cc4141;
    border-color: #cc4141
}

body#about {
    background: #2ACECE;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding: 50px 0
}

body#about ::selection {
    background: #207c2d;
    color: white
}

body#about ::-moz-selection {
    background: #207c2d;
    color: white
}

body#about a {
    color: #fff;
    text-decoration: none
}

body#about a:hover,body#about a.current {
    color: #000000;
    border-color: #ffffff;
}

body#contact {
    background: #009F9F;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding: 50px 0
}

body#contact ::selection {
    background: #ac1616;
    color: white
}

body#contact ::-moz-selection {
    background: #ac1616;
    color: white
}

body#contact a {
    color: #fff;
    text-decoration: none
}

body#contact a:hover,body#contact a.current {
    color: #4e0b0b;
    border-color: #4e0b0b
}

#logo {
    display: inline-block;
    border: 3px solid #fff;
    padding: 5px;
    margin: 0 0 20px 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#logo h1 {
    font-family: 'BebasNeueRegular';
    font-size: 30px;
    line-height: 18px;
    margin-top: 7px
}

#logo h1 span {
    font-size: 18px;
    position: relative;
    left: -1px
}

header nav ul li {
    display: inline-block;
    margin: 20px;
    position: relative
}

@media (max-width: 480px) {
    header nav ul li {
        margin:20px 10px
    }
}

header nav ul li:nth-child(-n+3):after {
    content: ".";
    position: absolute;
    bottom: 0;
    right: -20px
}

@media (max-width: 480px) {
    header nav ul li:nth-child(-n+3):after {
        display:none
    }
}

header nav ul li:nth-child(3) a span {
    font-size: 48px;
    line-height: 25px
}

header nav ul li:nth-child(4) a span {
    font-size: 27px;
    line-height: 35px
}

header nav ul li a {
    font-size: 14px;
    display: block
}

header nav ul li a span {
    font-family: 'harryatkins-me';
    font-size: 30px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    bottom: 0;
    -webkit-transition: bottom 0.1s ease;
    -moz-transition: bottom 0.1s ease;
    -o-transition: bottom 0.1s ease;
    transition: bottom 0.1s ease
}

header nav ul li a:hover span {
    bottom: 5px
}

h2 {
    font-family: 'BebasNeueRegular';
    font-size: 72px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease
}

@media (max-width: 780px) {
    h2 {
        font-size:40px
    }
}

h3 {
    text-transform: lowercase;
    font-size: 15px;
    margin-top: -10px
}

@media (max-width: 780px) {
    h3 {
        margin-top:-5px
    }
}

.main-content {
    margin: 45px 0 0 0
}

.main-content #services {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 0 0 0
}

.main-content #services .service {
    display: inline-block;
    width: 33%;
    height: 250px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden
}

.main-content #services .service .service-description {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: auto;
    top: 30px;
    left: 350px
}

.main-content #services .service .service-description p {
    line-height: 20px
}

.main-content #services .service .service-description:hover {
    color: #0d4040;
    cursor: pointer
}

@media (max-width: 780px) {
    .main-content #services .service {
        width:45%
    }
}

@media (max-width: 480px) {
    .main-content #services .service {
        width:60%;
        height: 200px
    }
}

.main-content #services .service .service-icon {
    position: relative;
    left: 0;
    width: 100%;
    display: inline-block
}

.main-content #services .service a {
    font-size: 18px
}

.main-content #services .service a span {
    font-family: 'harryatkins-me';
    font-size: 120px;
    position: relative;
    bottom: 0;
    -webkit-transition: bottom 0.1s ease;
    -moz-transition: bottom 0.1s ease;
    -o-transition: bottom 0.1s ease;
    transition: bottom 0.1s ease
}

.main-content #services .service a:hover span {
    bottom: 10px
}

footer p {
    font-size: 10px;
    margin-top: 10px
}

footer #social li {
    display: inline-block;
    margin: 10px
}

footer #social li a {
    font-size: 10px;
    display: block
}

footer #social li a span {
    font-family: 'harryatkins-me';
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease
}

footer #social li a:hover span {
    opacity: 1
}

#work-grid {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto
}

#filter-nav {
    margin: 20px 0 30px 0
}

#filter-nav li {
    display: inline-block;
    margin: 10px
}

#filter-nav li a {
    padding: 20px;
    background: #cc4141;
    color: white;
    display: block
}

#filter-nav li a:hover {
    color: white;
    background: #ac2e2e
}

#filter-nav li.current a {
    background: #ac2e2e
}

.work-link {
    color: #cc4141 !important
}

.work-link:hover {
    text-decoration: underline !important
}

.hidden {
    display: none
}

.work-thumb {
    position: relative;
    display: inline-block;
    margin: 10px
}

.work-thumb img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.work-thumb .work-description {
    position: absolute;
    top: 45%;
    left: 0;
    width: 210px;
    height: 210px;
    display: none;
    color: #fff !important;
    font-family: 'BebasNeueRegular';
    font-size: 2em
}

.work-thumb:hover img {
    opacity: 0.5
}

.work-thumb:hover .work-description {
    display: inline-block
}

#portrait {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: url("../img/portrait.jpg");
    background-size: 100%;
    margin: 10px auto 30px auto;
    border: 4px solid #36cc4b;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease
}

#portrait:hover {
    border: 10px solid #93ffa2;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg)
}

#about-text {
    max-width: 1200px;
    margin: 0 auto 50px auto;
    width: 90%
}

#about-text .col {
    width: 33%;
    float: left;
    margin: 30px 0
}

@media (max-width: 780px) {
    #about-text .col {
        width:100%
    }
}

#about-text .col ul li {
    margin: 10px
}

#about-text .col ul li span {
    font-family: 'harryatkins-me';
    font-weight: normal;
    font-size: 35px;
    margin: 10px 10px 0 0;
    position: relative;
    top: 5px
}

#about-text .col p {
    padding: 0 20px;
    line-height: 20px
}

#about-text .col h2 {
    font-size: 30px;
    margin-bottom: 15px
}

#contact-form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto
}

.hire {
    font-size: 50px;
    margin-bottom: 20px
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.nav-inner ul,.title,footer {
    text-align: center
}

.portfolio-title,.ribbon,nav.main-nav {
    display: block;
    font-size: 16px!important;
    position: relative;
    background: #63a8a5;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    margin: 0 0 3em;
    text-decoration: none
}

body,hr {
    padding: 0
}

.portfolio-title:after,.portfolio-title:before,.ribbon:after,.ribbon:before,nav.main-nav:after,nav.main-nav:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #63a8a5;
    z-index: -1
}

.portfolio-title:before,.ribbon:before,nav.main-nav:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent
}

.portfolio-title:after,.ribbon:after,nav.main-nav:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent
}

.portfolio-title .ribbon-content:after,.portfolio-title .ribbon-content:before,.ribbon .ribbon-content:after,.ribbon .ribbon-content:before,nav.main-nav .ribbon-content:after,nav.main-nav .ribbon-content:before {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #4b908d transparent transparent;
    bottom: -1em
}

.nav-inner,.nav-inner ul,nav.main-nav div {
    display: inline
}

.portfolio-title .ribbon-content:before,.ribbon .ribbon-content:before,nav.main-nav .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em
}

.portfolio-title .ribbon-content:after,.ribbon .ribbon-content:after,nav.main-nav .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0
}

.card-shadow,.communicator-quote,.portfolio-card-outer .portfolio-card,.portfolio-skill-cards li {
    box-shadow: 0 1px 2px #aaa
}

.highlight,.material-shadow,.portfolio-about-item img {
    box-shadow: 0 5px 10px #000
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin: 0 0 3em;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42857143;
    background-color: #f7f0dd
}

.nav-inner ul li,.post h1,.post h2,.post h3 {
    font-family: 'Fjalla One',serif
}


h1,h2,h3,h4,h5,h6 {
    color: #fff;
    font-weight: 300;
    line-height: 1.1
}

p {
    line-height: 1.4737;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal
}

.info-box--note>p,.post figcaption p {
    font-style: italic
}

b {
    font-weight: 900
}

a {
    color: #3498db;
    text-decoration: none;
    transition: background .25s ease-in;
    border-radius: 7px;
    padding: 1px 3px 3px
}



hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0
}

nav.main-nav {
    margin-top: 1em;
    padding: .75em 1em
}

.nav-inner ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.nav-inner ul li {
    margin: 0 1em;
    display: inline;
    font-size: 1.25em;
    font-weight: 500
}

.nav-inner ul li a {
    color: #fff
}

.portfolio-avatar-desc h1,.portfolio-avatar-desc h2,.portfolio-card-outer .portfolio-card h1,.portfolio-card-outer .portfolio-card h2,.portfolio-card-outer .portfolio-card h3 {
    color: #444
}

.nav-inner ul li a:hover {
    background: 0 0;
    border-bottom: .2em solid #fff;
    border-radius: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 15px
}

.title {
    line-height: 1.5em
}

.highlight {
    margin: 10px;
    padding: 1em 0 1em 1em
}

.communicator-quote {
    background-color: #fff;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,.75)
}

.communicator-quote p {
    margin-top: 0
}

@media (min-width: 768px) {
    .entry-avatar:after,.entry-avatar:before,.entry-desc:after,.entry-desc:before {
        content:'';
        display: table
    }

    li,p {
        font-size: 1.1em
    }

    .container {
        padding: 0 2.618em 1em
    }

    .entry-avatar {
        float: left;
        clear: none;
        width: 31.33333333333333%;
        margin-left: 0;
        margin-right: 3%;
        text-align: right
    }

    .entry-avatar:after {
        clear: both
    }

    .entry-avatar:last-child {
        margin-right: 0
    }

    .entry-desc {
        float: left;
        clear: none;
        text-align: inherit;
        width: 65.66666666666666%;
        margin-left: 0;
        margin-right: 3%
    }

    .entry-desc:after {
        clear: both
    }

    .entry-desc:last-child {
        margin-right: 0
    }
}

.card-shadow,.portfolio-card-outer .portfolio-card,.portfolio-skill-cards li {
    box-shadow: 0 1px 2px #aaa
}

.material-shadow,.portfolio-about-item img {
    box-shadow: 0 5px 10px #000
}

.portfolio-title {
    border-radius: 0
}

.portfolio-title:hover {
    background: #63a8a5
}

.portfolio-personal {
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0
}

.portfolio-avatar-desc:after,.portfolio-avatar-desc:before,.portfolio-avatar:after,.portfolio-avatar:before,.portfolio-card-holder:after,.portfolio-card-holder:before,.portfolio-card-outer:after,.portfolio-card-outer:before,.portfolio-personal:after,.portfolio-personal:before {
    content: '';
    display: table
}

.portfolio-personal:after {
    clear: both
}

.portfolio-avatar {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center
}

.portfolio-avatar:after {
    clear: both
}

.portfolio-avatar:last-child {
    margin-right: 0
}

.portfolio-avatar .avatar {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.75)
}

.portfolio-avatar-desc {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center
}

.portfolio-avatar-desc:last-child,.portfolio-card-outer:last-child {
    margin-right: 0
}

.portfolio-avatar-desc:after,.portfolio-card-holder:after {
    clear: both
}

.portfolio-avatar-desc h1 {
    font-weight: 400;
    font-size: 2em
}

.portfolio-card-outer {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

.portfolio-about-container:after,.portfolio-card-outer:after {
    clear: both
}

.portfolio-card-outer .portfolio-card {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin: 1em auto;
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    transition: all .2s linear
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner .portfolio-card-details .portfolio-card-tags,.portfolio-card-outer .portfolio-card .portfolio-card-inner h3 {
    text-align: left
}

.portfolio-card-outer .portfolio-card:hover {
    box-shadow: 0 5px 20px #aaa;
    transition: all .2s linear
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner {
    display: block
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner img {
    border-radius: 3px 3px 0 0;
    width: 100%
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner .portfolio-card-details {
    padding: 4px 1em 1em
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner .portfolio-card-details .portfolio-card-tags a {
    text-decoration: none;
    color: #0d7963;
    font-weight: 700;
    margin-top: 5px
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner .portfolio-card-details a {
    color: #444
}

.portfolio-card-outer .portfolio-card .portfolio-card-inner .portfolio-card-details a:hover {
    background: #fff
}

.portfolio-skill-cards {
    text-align: center;
    padding: 0
}

.portfolio-skill-cards li {
    text-align: center;
    margin: 1em auto;
    display: inline-block;
    color: #000;
    background-color: #fff;
    width: 150px
}

.portfolio-about-container:after,.portfolio-about-container:before,.portfolio-about-item:after,.portfolio-about-item:before {
    content: '';
    display: table
}

.portfolio-skill-cards li .head {
    color: #fff;
    padding: .5em
}

.portfolio-skill-cards li .content {
    padding: .5em 1em
}

.portfolio-skill-cards li.html5 .head {
    background: #f15b31
}

.portfolio-skill-cards li.js .head {
    background-color: #f58333
}

.portfolio-skill-cards li.css .head {
    background: #007ec6
}

.portfolio-skill-cards li.nodejs .head {
    background: #80bd01
}

.portfolio-skill-cards li.java .head {
    background: #e56a0a
}

.portfolio-skill-cards li.as3 .head {
    background: #c52e1b
}

.portfolio-skill-cards li.php .head {
    background: #8892bf
}

.portfolio-skill-cards li.mysql .head {
    background: #517e9a
}

.portfolio-skill-cards li.nosql .head {
    background: #402817
}

.portfolio-about-item {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0;
    margin-right: 3%
}

.portfolio-about-item:after {
    clear: both
}

.portfolio-about-item:last-child {
    margin-right: 0
}

.portfolio-about-item img {
    width: 100%
}

@media (min-width: 568px) {
    .portfolio-card-outer {
        float:left;
        clear: none;
        text-align: inherit;
        width: 49.5%;
        margin-left: 0;
        margin-right: 1%
    }

    .portfolio-card-outer:after,.portfolio-card-outer:nth-child(2n+1) {
        clear: both
    }

    .portfolio-card-outer:after,.portfolio-card-outer:before {
        content: '';
        display: table
    }

    .portfolio-card-outer:nth-child(2n) {
        margin-right: 0;
        float: right
    }
}

@media (min-width: 768px) {
    .portfolio-card-outer,.portfolio-card-outer:nth-child(2n) {
        margin-right:1%;
        float: left
    }

    .portfolio-about-item:after,.portfolio-about-item:before,.portfolio-card-outer:after,.portfolio-card-outer:before {
        content: '';
        display: table
    }

    .portfolio-card-outer {
        clear: none;
        text-align: inherit;
        width: 32.666666666666664%;
        margin-left: 0
    }

    .portfolio-card-outer:after {
        clear: both
    }

    .portfolio-card-outer:nth-child(2n+1) {
        clear: none
    }

    .portfolio-card-outer:nth-child(3n) {
        margin-right: 0;
        float: right
    }

    .portfolio-card-outer:nth-child(3n+1) {
        clear: both
    }

    .portfolio-about-item {
        float: left;
        clear: none;
        text-align: inherit;
        width: 48.5%;
        margin-left: 0;
        margin-right: 3%
    }

    .portfolio-about-item:after {
        clear: both
    }

    .portfolio-about-item:last-child {
        margin-right: 0
    }
}

@media (min-width: 1024px) {
    .portfolio-card-outer,.portfolio-card-outer:nth-child(3n) {
        margin-right:1%;
        float: left
    }

    .portfolio-card-outer {
        clear: none;
        text-align: inherit;
        width: 24.25%;
        margin-left: 0
    }

    .portfolio-card-outer:after,.portfolio-card-outer:before {
        content: '';
        display: table
    }

    .portfolio-card-outer:after {
        clear: both
    }

    .portfolio-card-outer:nth-child(3n+1) {
        clear: none
    }

    .portfolio-card-outer:nth-child(4n) {
        margin-right: 0;
        float: right
    }

    .portfolio-card-outer:nth-child(4n+1) {
        clear: both
    }
}

.info-box {
    background-color: #dcf2fd;
    color: #618ca0;
    padding: 1rem;
    margin: 0 auto 1rem;
    max-width: 768px
}

.info-box p {
    font-size: 1.3rem
}

.info-box--note>p,.info-box--warning>p {
    margin: 0;
    font-size: 1rem
}

.info-box--note {
    background-color: transparent;
    color: #000
}

.info-box--warning {
    background-color: #fbedb7;
    color: #8c8466
}

.info-box--warning-mdscreen {
    display: block
}

@media (min-width: 768px) {
    .info-box--warning-mdscreen {
        display:none
    }
}

.vertically-center {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%
}

.vertically-center__middle {
    display: table-cell;
    vertical-align: middle
}

.post img,.posts .post-info time {
    display: block
}

.vertically-center__inner {
    margin-left: auto;
    margin-right: auto
}

.posts {
    max-width: 768px;
    margin: 0 auto
}

.posts article {
    margin-bottom: 1.5em
}

.posts article h2 {
    line-height: 1.65em
}

.posts article h2 a {
    color: #444;
    padding: 0
}

.posts article h2 a:hover {
    color: #63a8a5;
    background: 0 0
}

.posts .post-info {
    font-size: .875em;
    color: #b1b1b1;
    margin: 0;
    float: right;
    text-align: right
}

.post-all-center table,.post-width--lg {
    margin-left: auto;
    margin-right: auto
}

.posts .post-info:hover {
    color: #242424
}

strong.post-category a {
    color: #b1b1b1
}

strong.post-category a:hover {
    color: #63a8a5;
    background: 0 0
}

.post-all-center {
    text-align: center
}

.post #disqus_thread,.post h1,.post h2,.post h3,.post ol,.post p,.post pre,.post ul,.post-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px
}

.post-width--lg {
    max-width: 1024px
}

.post {
    margin: auto
}

.post h1#post-title {
    font-weight: 800;
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0
}

.post h1,.post h2,.post h3 {
    max-width: 818px;
    color: #b58900
}

.post .post-info .post-date,.term-desc p {
    color: #93a1a1
}

.post p code {
    max-width: 100%;
    overflow-x: auto;
    white-space: normal;
    word-wrap: break-word
}

.post article {
    padding: 2% 0
}

.post li,.post p {
    line-height: 2em
}

.post .post-info {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 818px
}

.post .post-info .post-tags {
    text-align: right;
    float: right
}

.post .video-player,.post figcaption,.post img {
    text-align: center
}

.post .post-series-desc {
    color: #93a1a1;
    font-size: .9em
}

.post .post-series-desc p,.post .post-series-desc ul {
    margin-top: .5em;
    margin-bottom: .5em
}

.post img {
    max-width: 100%;
    border-radius: 3px;
    margin: auto
}

.post table td,.post table th {
    padding: .5em
}

.post thead {
    background-color: #eee8d5
}

.term-desc p {
    margin-top: 0;
    line-height: 1.2em
}

.cf:after,.cf:before {
    content: '';
    display: table
}

.cf:after {
    clear: both
}

@media (min-width: 768px) {
    .g2,.g6,.g8 {
        float:left;
        text-align: inherit;
        margin-left: 0
    }

    .g2:after,.g2:before,.g6:after,.g6:before,.g8:after,.g8:before {
        content: '';
        display: table
    }

    .g2 {
        clear: none;
        width: 14.166666666666664%;
        margin-right: 3%
    }

    .g2:after {
        clear: both
    }

    .g2:last-child {
        margin-right: 0
    }

    .g6 {
        clear: none;
        width: 48.5%;
        margin-right: 3%
    }

    .g6:after {
        clear: both
    }

    .g6:last-child {
        margin-right: 0
    }

    .g8 {
        clear: none;
        width: 65.66666666666666%;
        margin-right: 3%
    }

    .g8:after {
        clear: both
    }

    .g8:last-child {
        margin-right: 0
    }
}
